@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.main-wrapper {
  padding-top: 60px;
  padding-bottom: 15px;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .main-wrapper {
    padding-left: 230px;
  }
}
