<div class="row justify-content-center">
    <div class="col-md-6">
        <div *ngIf="appointment">
            <h2><span jhiTranslate="medicusApp.appointment.detail.title">Appointment</span> {{appointment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicusApp.appointment.date">Date</span></dt>
                <dd>
                    <span>{{appointment.date | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.appointment.title">Title</span></dt>
                <dd>
                    <span>{{appointment.title}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.appointment.description">Description</span></dt>
                <dd>
                    <span>{{appointment.description}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.appointment.descriptionScan">Description Scan</span></dt>
                <dd>
                    <div *ngIf="appointment.descriptionScan">
                        <a (click)="openFile(appointment.descriptionScan.contentContentType, appointment.descriptionScan.content)" jhiTranslate="entity.action.open">open</a>
                        {{appointment.descriptionScan.contentContentType}}, {{byteSize(appointment.descriptionScan.content)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="medicusApp.appointment.treatment">Treatment</span></dt>
                <dd>
                    <span *ngFor="let treatment of appointment.treatments; let last = last">
                        <a [routerLink]="['/treatment', treatment?.id, 'view' ]">{{treatment.startDate | date:'mediumDate'}} - {{treatment.description}}</a>
                    </span>
                </dd>
                <dt><span jhiTranslate="medicusApp.appointment.symptom">Symptom</span></dt>
                <dd>
                    <ul>
                        <li *ngFor="let symptom of appointment.symptoms; let last = last">
                            <a [routerLink]="['/symptom', symptom?.id, 'view' ]">{{symptom.startDate | date:'mediumDate'}} - {{symptom.description}}</a>
                        </li>
                    </ul>
                </dd>
                <dt><span jhiTranslate="medicusApp.appointment.visitedDoctor">Visited Doctor</span></dt>
                <dd>
                    <ul>
                        <li *ngFor="let visitedDoctor of appointment.visitedDoctors; let last = last">
                            <a [routerLink]="['/visited-doctor', visitedDoctor?.id, 'view' ]">{{visitedDoctor.specialization}} - {{visitedDoctor.name}}</a>
                        </li>
                    </ul>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/appointment', appointment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-md-6" *ngIf="appointment.descriptionScan?.content">
        <jhi-file-viewer [data]="appointment.descriptionScan.content" [contentType]="appointment.descriptionScan.contentContentType"></jhi-file-viewer>
    </div>
</div>
<!--<jhi-visited-doctor [visitedDoctors]="appointment.visitedDoctors"></jhi-visited-doctor>-->
<jhi-examination-package [examinationPackages]="appointment.examinationPackages"></jhi-examination-package>
<jhi-procedure [procedures]="appointment.procedures"></jhi-procedure>
<jhi-treatment [treatments]="appointment.treatments"></jhi-treatment>
<!--<jhi-symptom [symptoms]="appointment.symptoms"></jhi-symptom>-->
