<div>
    <h2 id="page-heading">
        <span jhiTranslate="medicusApp.examination.home.title">Examinations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-examination" [routerLink]="['/examination/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="medicusApp.examination.home.createLabel">
            Create a new Examination
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="examinations?.length === 0">
        <span jhiTranslate="medicusApp.examination.home.notFound">No examinations found</span>
    </div>
    <div class="table-responsive" *ngIf="examinations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
<!--                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th jhiSortBy="value"><span jhiTranslate="medicusApp.examination.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="examinationType.name"><span jhiTranslate="medicusApp.examination.examinationType">Examination Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th *ngIf="standaloneView" jhiSortBy="examinationPackage.date"><span jhiTranslate="medicusApp.examination.examinationPackage">Examination Package</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let examination of examinations ;trackBy: trackId"
                [ngClass]="{
                            'table-danger': examination.examinationType.minValue && examination.value < examination.examinationType.minValue || examination.examinationType.maxValue && examination.value > examination.examinationType.maxValue,
                            'table-success': examination.examinationType.minValue && examination.examinationType.maxValue && examination.value >= examination.examinationType.minValue && examination.value <= examination.examinationType.maxValue
                                                || examination.examinationType.minValue && !examination.examinationType.maxValue && examination.value >= examination.examinationType.minValue
                                                || !examination.examinationType.minValue && examination.examinationType.maxValue && examination.value <= examination.examinationType.maxValue
                            }">
<!--                <td><a [routerLink]="['/examination', examination.id, 'view' ]">{{examination.id}}</a></td>-->
                <td>{{examination.valueModificator}} {{examination.value}}</td>
                <td>

<!--                        <a [routerLink]="['/examination-type', examination.examinationType?.id, 'view' ]" >{{examination.examinationType?.name}}</a>-->
                        <span>{{examination.examinationType.name}}</span>
                        <span>{{examination.value}} {{examination.examinationType.unit}}</span>
                </td>
                <td *ngIf="standaloneView">
                    <div *ngIf="examination.examinationPackage">
                        <a [routerLink]="['/examination-package', examination.examinationPackage?.id, 'view' ]" >{{examination.examinationPackage?.date | date:'mediumDate'}} - {{examination.examinationPackage?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/examination', examination.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/examination', examination.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/examination', { outlets: { popup: examination.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div [hidden]="examinations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
