<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-examination-heading" jhiTranslate="medicusApp.examination.home.createOrEditLabel">Create or edit a Examination</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.examination.value" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                    <div *ngIf="editForm.get('value').invalid && (editForm.get('value').dirty || editForm.get('value').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('value').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.examination.valueModificator" for="field_valueModificator">Value Modificator</label>
                    <input type="text" class="form-control" name="valueModificator" id="field_valueModificator"
                           formControlName="valueModificator"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.examination.examinationType" for="field_examinationType">Examination Type</label>
                    <select class="form-control" id="field_examinationType" name="examinationType" formControlName="examinationType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="examinationTypeOption.id === editForm.get('examinationType').value?.id ? editForm.get('examinationType').value : examinationTypeOption" *ngFor="let examinationTypeOption of examinationtypes; trackBy: trackExaminationTypeById">{{examinationTypeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.examination.examinationPackage" for="field_examinationPackage">Examination Package</label>
                    <select class="form-control" id="field_examinationPackage" name="examinationPackage" formControlName="examinationPackage">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="examinationPackageOption.id === editForm.get('examinationPackage').value?.id ? editForm.get('examinationPackage').value : examinationPackageOption" *ngFor="let examinationPackageOption of examinationpackages; trackBy: trackExaminationPackageById">{{examinationPackageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
