<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="symptom">
            <h2><span jhiTranslate="medicusApp.symptom.detail.title">Symptom</span> {{symptom.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicusApp.symptom.startDate">Start Date</span></dt>
                <dd>
                    <span>{{symptom.startDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.symptom.endDate">End Date</span></dt>
                <dd>
                    <span>{{symptom.endDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.symptom.description">Description</span></dt>
                <dd>
                    <span>{{symptom.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/symptom', symptom.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
