<div>
    <h2 id="page-heading">
        <span jhiTranslate="medicusApp.procedure.home.title">Procedures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-procedure" [routerLink]="['/procedure/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="medicusApp.procedure.home.createLabel">
            Create a new Procedure
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="procedures?.length === 0">
        <span jhiTranslate="medicusApp.procedure.home.notFound">No procedures found</span>
    </div>
    <div class="table-responsive" *ngIf="procedures?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
<!--            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="date"><span jhiTranslate="medicusApp.procedure.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="medicusApp.procedure.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descriptionScan"><span jhiTranslate="medicusApp.procedure.descriptionScan">Description Scan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appointment"><span jhiTranslate="medicusApp.procedure.appointment">Appointment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let procedure of procedures ;trackBy: trackId">
<!--                <td><a [routerLink]="['/procedure', procedure.id, 'view' ]">{{procedure.id}}</a></td>-->
                <td>{{procedure.date | date:'mediumDate'}}</td>
                <td>{{procedure.description}}</td>
                <td>
                    <a *ngIf="procedure.descriptionScan" (click)="openFile(procedure.descriptionScanContentType, procedure.descriptionScan)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="procedure.descriptionScan">{{procedure.descriptionScanContentType}}, {{byteSize(procedure.descriptionScan)}}</span>
                </td>
                <td>
                    <div *ngIf="procedure.appointment">
                        <a [routerLink]="['/appointment', procedure.appointment.id, 'view' ]" >{{procedure.appointment.date | date:'mediumDate'}} - {{procedure.appointment.appointmentType}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/procedure', procedure.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/procedure', procedure.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/procedure', { outlets: { popup: procedure.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div [hidden]="procedures?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
