<div class="row justify-content-center">
    <div class="col-md-6">
        <div *ngIf="procedure">
            <h2><span jhiTranslate="medicusApp.procedure.detail.title">Procedure</span> {{procedure.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicusApp.procedure.date">Date</span></dt>
                <dd>
                    <span>{{procedure.date | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.procedure.description">Description</span></dt>
                <dd>
                    <span>{{procedure.description}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.procedure.descriptionScan">Description Scan</span></dt>
                <dd>
                    <div *ngIf="procedure.descriptionScan">
                        <a (click)="openFile(procedure.descriptionScanContentType, procedure.descriptionScan)" jhiTranslate="entity.action.open">open</a>
                        {{procedure.descriptionScanContentType}}, {{byteSize(procedure.descriptionScan)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="medicusApp.procedure.visitedDoctor">Visited Doctor</span></dt>
                <dd>
                    <span *ngFor="let visitedDoctor of procedure.visitedDoctors; let last = last">
                        <a [routerLink]="['/visited-doctor', visitedDoctor?.id, 'view' ]">{{visitedDoctor.doctor?.specialization}} - {{visitedDoctor.doctor?.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="medicusApp.procedure.appointment">Appointment</span></dt>
                <dd>
                    <div *ngIf="procedure.appointment">
                        <a [routerLink]="['/appointment', procedure.appointment.id, 'view']">{{procedure.appointment.date | date:'mediumDate'}} - {{procedure.appointment.appointmentType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/procedure', procedure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-md-6" *ngIf="procedure.descriptionScan">
        <jhi-file-viewer [data]="procedure.descriptionScan" [contentType]="procedure.descriptionScanContentType"></jhi-file-viewer>
    </div>
</div>
