<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medicine-heading" jhiTranslate="medicusApp.medicine.home.createOrEditLabel">Create or edit a Medicine</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.medicine.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.medicine.indication" for="field_indication">Indication</label>
                    <textarea class="form-control" name="indication" id="field_indication"
                              formControlName="indication"></textarea>
                </div>
                <div class="form-group" formGroupName="leaflet">
                    <label class="form-control-label" jhiTranslate="medicusApp.medicine.leaflet" for="field_content">Leaflet</label>
                    <div>
                        <div *ngIf="editForm.get('leaflet') && editForm.get('leaflet').get('content').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('leaflet').get('contentContentType').value, editForm.get('leaflet').get('content').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('leaflet').get('contentContentType').value}}, {{byteSize(editForm.get('leaflet').get('content').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({descriptionScan: null})"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_leaflet" (change)="setFileData($event, false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                    <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                           formControlName="contentContentType" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
