<div>
    <h2 id="page-heading">
        <span jhiTranslate="medicusApp.medicine.home.title">Medicines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medicine" [routerLink]="['/medicine/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="medicusApp.medicine.home.createLabel">
            Create a new Medicine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="medicines?.length === 0">
        <span jhiTranslate="medicusApp.medicine.home.notFound">No medicines found</span>
    </div>
    <div class="table-responsive" *ngIf="medicines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
<!--            <th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th><span jhiTranslate="medicusApp.medicine.name">Name</span></th>
            <th><span jhiTranslate="medicusApp.medicine.indication">Indication</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medicine of medicines ;trackBy: trackId">
<!--                <td><a [routerLink]="['/medicine', medicine.id, 'view' ]">{{medicine.id}}</a></td>-->
                <td>{{medicine.name}}</td>
                <td>{{medicine.indication}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/medicine', medicine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medicine', medicine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medicine', { outlets: { popup: medicine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
