<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-treatment-heading" jhiTranslate="medicusApp.treatment.home.createOrEditLabel">Create or edit a Treatment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.treatment.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('startDate').invalid && (editForm.get('startDate').dirty || editForm.get('startDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.treatment.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.treatment.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.treatment.descriptionScan" for="field_descriptionScan">Description Scan</label>
                    <div>
                        <div *ngIf="editForm.get('descriptionScan').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('descriptionScanContentType').value, editForm.get('descriptionScan').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('descriptionScanContentType').value}}, {{byteSize(editForm.get('descriptionScan').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({descriptionScan: null});editForm.patchValue({descriptionScanContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_descriptionScan" (change)="setFileData($event, 'descriptionScan', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="descriptionScan" id="field_descriptionScan"
                           formControlName="descriptionScan"/>
                    <input type="hidden" class="form-control" name="descriptionScanContentType" id="field_descriptionScanContentType"
                           formControlName="descriptionScanContentType" />
                </div>
                <div class="form-group">
                    <label jhiTranslate="medicusApp.treatment.medicine" for="field_medicines">Medicine</label>
                    <select class="form-control" id="field_medicines" multiple name="medicines" formControlName="medicines">
                        <option [ngValue]="getSelected(editForm.get('medicines').value, medicineOption)" *ngFor="let medicineOption of medicines; trackBy: trackMedicineById">{{medicineOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="medicusApp.treatment.visitedDoctor" for="field_visitedDoctors">Visited Doctor</label>
                    <select class="form-control" id="field_visitedDoctors" multiple name="visitedDoctors" formControlName="visitedDoctors">
                        <option [ngValue]="getSelected(editForm.get('visitedDoctors').value, visitedDoctorOption)" *ngFor="let visitedDoctorOption of visiteddoctors; trackBy: trackVisitedDoctorById">{{visitedDoctorOption.specialization}} - {{visitedDoctorOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
