<div class="row justify-content-center">
    <div class="col-md-6">
        <div *ngIf="treatment">
            <h2><span jhiTranslate="medicusApp.treatment.detail.title">Treatment</span> {{treatment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicusApp.treatment.startDate">Start Date</span></dt>
                <dd>
                    <span>{{treatment.startDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.treatment.endDate">End Date</span></dt>
                <dd>
                    <span>{{treatment.endDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.treatment.title">Title</span></dt>
                <dd>
                    <span>{{treatment.title}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.treatment.description">Description</span></dt>
                <dd>
                    <span>{{treatment.description}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.treatment.descriptionScan">Description Scan</span></dt>
                <dd>
                    <div *ngIf="treatment.descriptionScan">
                        <a (click)="openFile(treatment.descriptionScan.contentContentType, treatment.descriptionScan.content)" jhiTranslate="entity.action.open">open</a>
                        {{treatment.descriptionScan.contentContentType}}, {{byteSize(treatment.descriptionScan.content)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="medicusApp.treatment.medicine">Medicine</span></dt>
                <dd>
                    <span *ngFor="let medicine of treatment.medicines; let last = last">
                        <a [routerLink]="['/medicine', medicine?.id, 'view' ]">{{medicine.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="medicusApp.treatment.visitedDoctor">Visited Doctor</span></dt>
                <dd>
                    <span *ngFor="let visitedDoctor of treatment.visitedDoctors; let last = last">
                        <a [routerLink]="['/visited-doctor', visitedDoctor?.id, 'view' ]">{{visitedDoctor.specialization}} - {{visitedDoctor.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/treatment', treatment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-md-6" *ngIf="treatment.descriptionScan">
        <jhi-file-viewer [data]="treatment.descriptionScan.content" [contentType]="treatment.descriptionScan.contentContentType"></jhi-file-viewer>
    </div>
</div>
<jhi-medicine [medicines]="treatment.medicines"></jhi-medicine>
<jhi-visited-doctor [visitedDoctors]="treatment.visitedDoctors"></jhi-visited-doctor>
