<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-visited-doctor-heading" jhiTranslate="medicusApp.visitedDoctor.home.createOrEditLabel">Create or edit a Visited Doctor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.visitedDoctor.opinion" for="field_opinion">Opinion</label>
                    <textarea class="form-control" name="opinion" id="field_opinion"
                              formControlName="opinion"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medicusApp.visitedDoctor.doctor" for="field_doctor">Doctor</label>
                    <select class="form-control" id="field_doctor" name="doctor" formControlName="doctor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('doctor').value?.id ? editForm.get('doctor').value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById">{{doctorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
