<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="visitedDoctor">
            <h2><span jhiTranslate="medicusApp.visitedDoctor.detail.title">Visited Doctor</span> {{visitedDoctor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicusApp.visitedDoctor.opinion">Opinion</span></dt>
                <dd>
                    <span>{{visitedDoctor.opinion}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.visitedDoctor.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="visitedDoctor.doctor">
                        <a [routerLink]="['/doctor', visitedDoctor.doctor?.id, 'view']">{{visitedDoctor.doctor?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="medicusApp.visitedDoctor.user">User</span></dt>
                <dd>
                    {{visitedDoctor.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/visited-doctor', visitedDoctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
