<div class="row justify-content-center">
    <div class="col-md-6">
        <div *ngIf="examinationPackage">
            <h2><span jhiTranslate="medicusApp.examinationPackage.detail.title">Examination Package</span> {{examinationPackage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicusApp.examinationPackage.date">Date</span></dt>
                <dd>
                    <span>{{examinationPackage.date}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.title">Title</span></dt>
                <dd>
                    <span>{{examinationPackage.title}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.examinationPackageScan">Examination Package Scan</span></dt>
                <dd>
                    <div *ngIf="examinationPackage.examinationPackageScan">
                        <a (click)="openFile(examinationPackage.examinationPackageScanContentType, examinationPackage.examinationPackageScan)" jhiTranslate="entity.action.open">open</a>
                        {{examinationPackage.examinationPackageScanContentType}}, {{byteSize(examinationPackage.examinationPackageScan)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.visitedDoctor">Visited Doctor</span></dt>
                <dd>
                    <span *ngFor="let visitedDoctor of examinationPackage.visitedDoctors; let last = last">
                        <a [routerLink]="['/visited-doctor', visitedDoctor?.id, 'view' ]">{{visitedDoctor.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.appointment">Appointment</span></dt>
                <dd>
                    <div *ngIf="examinationPackage.appointment">
                        <a [routerLink]="['/appointment', examinationPackage.appointment, 'view']">{{examinationPackage.appointment}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/examination-package', examinationPackage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-md-6" *ngIf="examinationPackage.examinationPackageScan">
        <jhi-file-viewer [data]="examinationPackage.examinationPackageScan" [contentType]="examinationPackage.examinationPackageScanContentType"></jhi-file-viewer>
    </div>
</div>
<jhi-visited-doctor [visitedDoctors]="examinationPackage.visitedDoctors"></jhi-visited-doctor>
<jhi-examination [examinations]="examinationPackage.examinations"></jhi-examination>
