<div class="row justify-content-center">
    <div class="col-md-6">
        <div *ngIf="examinationPackage">
            <h2><span jhiTranslate="medicusApp.examinationPackage.detail.title">Examination Package</span> {{examinationPackage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medicusApp.examinationPackage.date">Date</span></dt>
                <dd>
                    <span>{{examinationPackage.date | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.title">Title</span></dt>
                <dd>
                    <span>{{examinationPackage.title}}</span>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.examinationPackageScan">Examination Package Scan</span></dt>
                <dd>
                    <div *ngIf="examinationPackage.descriptionScan">
                        <a (click)="openFile(examinationPackage.descriptionScan.contentContentType, examinationPackage.descriptionScan.content)" jhiTranslate="entity.action.open">open</a>
                        {{examinationPackage.descriptionScan.contentContentType}}, {{byteSize(examinationPackage.descriptionScan.content)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.visitedDoctor">Visited Doctor</span></dt>
                <dd>
                    <ul>
                        <li *ngFor="let visitedDoctor of examinationPackage.visitedDoctors; let last = last">
                            <a [routerLink]="['/visited-doctor', visitedDoctor?.id, 'view' ]">{{visitedDoctor.specialization}} - {{visitedDoctor.name}}</a>
                        </li>
                    </ul>
                </dd>
                <dt><span jhiTranslate="medicusApp.examinationPackage.appointment">Appointment</span></dt>
                <dd>
                    <div *ngIf="examinationPackage.appointment">
                        <a [routerLink]="['/appointment', examinationPackage.appointment.id, 'view']">{{examinationPackage.appointment.date | date:'mediumDate'}} - {{examinationPackage.appointment.appointmentType}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/examination-package', examinationPackage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-md-6" *ngIf="examinationPackage.descriptionScan">
        <jhi-file-viewer [data]="examinationPackage.descriptionScan.content" [contentType]="examinationPackage.descriptionScan.contentContentType"></jhi-file-viewer>
    </div>
</div>
<!--<jhi-visited-doctor [visitedDoctors]="examinationPackage.visitedDoctors"></jhi-visited-doctor>-->
<jhi-examination [examinations]="examinationPackage.examinations"></jhi-examination>
